.container {
  background: white;
  padding: 10px;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
}

.container h2 {
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
}


.add {
  margin-bottom: 20px !important;
}

.innerContainer {
  display: flex;
  flex-direction: row;
}

.list {
  flex: 1;
}

.config {
  margin-left: 20px;
  margin-top: 55px;
}

.item:hover {
  background-color: #e8eef7;
}

.right {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 10px;
}
