.container {
  background: white;
  padding: 10px;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container h2 {
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
}


.add {
  margin-bottom: 20px !important;
}

.innerContainer {
  display: flex;
  flex-direction: row;
}

.list {
  flex: 1;
  display: flex;
}

.config {
  margin-left: 20px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item:hover {
  background-color: #e8eef7;
}

.rightInner {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}

.right {
  display: block;
}
.configInputItem {
  width: 40px !important;
  text-align: right;
}
.configItem {
 margin: 0;
  font-size: 12px;
}
