/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "https://fonts.googleapis.com/css?family=Pacifico";
@import "~antd/dist/antd.css";

body {
    position: relative;
    color: white;
    height: 100vh;
    /*background-color: black !important;*/
    overflow-y: hidden;
}

h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: #fff;
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.ant-spin-container, .ant-spin-nested-loading {
    overflow: auto;
}

.ant-list-bordered {
    display: flex;
    width: 100%;
}

.ant-spin-nested-loading {
    width: 100%;
}

.ant-list-item-meta.past * {
    color: #e8e8e8 !important;
}

.ant-list-item-action a {
    color: #1890ff;
}

.ant-list-item-action a {
  color: #1890ff;
}
.ant-btn-dashed {
  width: 100%;
}

.ant-list-item-meta-title > a, .ant-list-item-meta-title > a:visited  {
  color: black !important;
}
